<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <img src="/public/githubphoto.jpeg">Androidgrl</img>
      <p>Hello!  Welcome to androidgrl's blog!  My name is Jamie Kawahara I am a software developer and 3D printing enthusiast.  I hope you find the tutorials helpful.</p>
      <a href="https://twitter.com/androidgrl">Twitter</a></br>
      <a href="https://github.com/androidgrl">Github</a>
  </div>

  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
